.benefits-page {
    .benefit-container {
        display: flex;
        flex-direction: column;
        .header {
            display: flex;
            height: 50px;
            // border: 1px dashed $color-white;
            background: $color-purple;
            border-radius: 25px;
            .icon {
                width: 50px;
                width: 50px;
            }
            .text {
                flex: 1;
                margin-left: 10px;
                h2 {
                    line-height: 50px;
                    margin: 0;
                    color: $color-white;
                }
            }
        }
        .body {
            margin-top: 10px;
            p {
                text-align: justify;
                word-spacing: -2px;
                color: #000;
                font-size: 0.9em;
                padding: 0 15px;
            }
        }
    }
    .panel-heading,
    .collapsed {
        // border-radius: 60px;
        background: #f7971e;
        background: -webkit-linear-gradient(to right, darken(#f7971e, 5%), #f7971e);
        background: linear-gradient(to right, darken(#f7971e, 5%), #f7971e);
        color: $color-white;
    }
    .panel-title {
        //  border-radius: 60px;
        background: #f7971e;
        background: -webkit-linear-gradient(to right, darken(#f7971e, 5%), #f7971e);
        background: linear-gradient(to right, darken(#f7971e, 5%), #f7971e);
        a {
            color: $color-white !important;
            //  border-radius: 60px;
        }
    }
    .section-header {
        margin: 0 0 20px 25px;
        font-weight: 600;
    }
    .day-to-day {
        .benefit-container {
            height: 210px;
        }
    }
    .major-benefits {
        .benefit-container {
            height: 230px;
        }
    }
}