a {
    color: $color-purple;
}

.c-layout-header-fixed .c-layout-header {
    position: absolute;
    background: none !important;
    background-color: transparent !important;
}

.c-navbar {
    //  background: none !important;
}

.c-brand {
    padding: 0 !important;
    ;
    margin: 10px 0 0 0 !important;
    ;
}

.c-postfooter {
    padding: 15px !important;
}

.c-bg-purple {
    background: $color-blue !important;
}

.c-content-title-1>.c-line-center {
    width: 30px;
    height: 3px;
    background-color: $color-purple;
    margin: 0 auto 30px auto;
}

.nav {
    margin-right: 10px !important;
    li {
        a {
            color: $color-purple !important;
        }
    }
}

.c-hor-nav-toggler {
    .c-line {
        background: #c92a8c !important;
    }
}


/* ========================================================================== */


/* Mobile Menu Background */


/* ========================================================================== */

@media (max-width: 991px) {
    .c-layout-header .c-navbar .c-mega-menu.c-mega-menu-dark-mobile {
        background: lighten( #394048, 70%);
    }
    .c-layout-header .c-navbar .c-mega-menu.c-mega-menu-dark-mobile>.nav.navbar-nav>li>.c-link {
        border-bottom: 1px solid lighten(#404851, 63%);
    }
}

@media (min-width: 992px) {
    .c-layout-header .c-navbar .c-mega-menu>.nav.navbar-nav>li>.c-link {
        padding: 50px 0px 39px 15px;
        font-size: 16px;
        // font-size: 1.1vw !important;
    }
    .c-logo {
        img {
            width: 60px;
            width: 15vw;
            margin-left: 0.7vw;
        }
    }
}

@media (max-width: 992px) {
    .c-logo {
        img {
            height: 50px;
            margin-left: 10px;
            margin-left: 0.7vw;
        }
    }
    .c-navbar {
        background: #fff;
    }
}


/* ========================================================================== */


/* Mobile Menu Background */


/* ========================================================================== */

.find-doctor-page {
    .c-content-panel {
        border: 1px solid lighten($color-purple, 45%);
        height: 230px;
        .country-label {
            font-size: 1.3em;
            font-weight: 600;
            padding-right: 2em;
            color: $color-white;
            background: $color-purple;
        }
    }
}

.c-navbar-wrapper {
    background: rgba(255, 255, 255, .4);
}