.medical-aid-page {
    /* ========================================================================== */
    /* HOME PAGE BANNER */
    /* ========================================================================== */
    .slide-text-container {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        padding-bottom: 1em;
        @media(max-width: 550px) {
            justify-content: center;
        }
        .slide-text {
            display: flex;
            align-content: flex-end;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0.9em 4em;
            background-color: rgba(12, 83, 161, 0.5);
            z-index: 10;
            color: $color-white;
            @media(max-width: 761px) {
                padding: 0;
                width: 100%;
            }
        }
        .title-text {
            font-size: 2.5em;
            z-index: 15;
            text-transform: uppercase;
            border-bottom: 2px solid $color-white;
            @media(max-width: 761px) {
                font-size: 5vw;
            }
        }
        .desc-text {
            font-size: 2em;
            z-index: 15;
            margin-top: 15px;
            text-transform: uppercase;
            @media(max-width: 761px) {
                font-size: 4vw;
            }
        }
        .banner-links {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            a.btn {
                background: $color-purple;
                border: 1px solid $color-purple;
                margin-top: 20px;
                text-transform: capitalize;
                @media(max-width: 502px) {
                    font-size: .8em;
                    font-size: 3.5vw;
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
    }
    .slide-container {
        height: 70vh;
        .slide {
            background: url('../medical-aid/images/medical-aid-banner-bg.jpg') no-repeat;
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 100%;
        }
    }
    /* ========================================================================== */
    /* HOME PAGE TABS */
    /* ========================================================================== */
    $color-elite:#bf2685;
    $color-standard:#97999c;
    $color-standard-plus:#faad05;
    $color-primary:#29317a;
    .benefits {
        img {
            position: relative;
            width: 80%;
        }
        text-align: center;
    }
    .options-container {
        background-image: url('../medical-aid/images/plans-bg.jpg');
        .bg-color {
            background-attachment: fixed;
            background-size: cover;
            background-color: rgba(255, 255, 255, .80);
            height: 100%;
            padding: 60px 0;
        }
        .options {
            .elite-option {
                text-align: center;
                background: url('medical-aid/images/options/elite.png');
                img {
                    position: relative;
                    width: 80%;
                    z-index: 10;
                }
            }
        }
    }
}