.medical-aid-page {
    .inner-page-header {
        .slide-container {
            .text-container {
                display: flex;
            }
            height: 40vh;
            .slide {
                width: 100%;
                height: 100%;
                .cover {
                    width: 100%;
                    height: 100%;
                    background: rgba(255, 255, 255, .7);
                }
            }
        }
    }
}