.medical-aid-page {
    .inner-page-header {
        .slide-container {
            .text-container {
                display: flex;
            }
            height: 40vh;
            .slide {
                background: url('../medical-aid/images/medical-aid-banner-bg.jpg') no-repeat;
                background-size: cover;
                background-position: center center;
                width: 100%;
                height: 100%;
            }
        }
    }
}