$color-blue: #0c53a1;
$color-purple: #c92a8c;
$color-white: #ffffff;
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;
$color-elite:#bf2685;
$color-standard:#97999c;
$color-standard-plus:#faad05;
$color-primary:#29317a;